.footer {
    padding-top: 61px;
    padding-bottom: 59px;
  
    &__pagination {
      display: flex;
      flex-direction: column;
  
      &--info {
        font-weight: 400;
        font-size: 12px;
        line-height: 170%;
        color: inherit;
  
        &:hover {
          transition: 0.5s;
          color: $color-footerHover;
        }
      }
    }
  
    &__info {
      display: flex;
      justify-content: space-between;
      width: 540px;
    }
  
    &__btn {
      font-weight: 400;
      font-size: 12px;
      color: $color-footer;
      background: $color-footerTextNav;
      border-radius: 20px;
      padding: 10px;
      width: 107px;
      height: 35px;
      border: none;
      cursor: pointer;
  
      &:hover {
        background: $color-footerHover;
        transition: 0.5s;
      }
    }
  
    &__input {
      background: $color-footerInput;
      border-radius: 20px;
      padding: 10px 80px 10px 10px;
      width: 204px;
      height: 35px;
      border: none;
      font-weight: 400;
      font-size: 12px;
      color: $color-footerInputText;
      margin-right: 36px;
      margin-bottom: 18px;
      cursor: pointer;
    }
  
    &__click {
      display: flex;
    }
  
    &__nav {
      display: block;
  
      &--text {
        font-weight: 400;
        font-size: 8px;
        color: inherit;
        margin: 0;
      }
    }
  
    &__wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }