.header {
  padding: 21px 0 21px 0;

  &__item {
    font-weight: 400;
    font-size: 12px;
    color: inherit;
  }

  &__interakt {
    font-weight: 400;
    font-size: 12px;
    color: inherit;
    background: inherit;
    border: none;
    cursor: pointer;

    svg {
      margin-left: 10px;
    }
  }

  .switch {
    position: relative;
    display: inline-block;
    border-radius: 11px;
    width: 40px;
    height: 20px;
    margin-right: 50px;

    input {
      display: none;
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #7a7a7a;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 100%;
  }

  .slider:before {
    position: absolute;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  input:checked+.slider:before {
    content: '';
    background: url('../images/header/moon.svg') no-repeat center center;
    background-size: contain;
    background-color: inherit;
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }

  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    content: '';
    display: block;
    background: url('../images/header/sun.svg') no-repeat center center;
    background-size: contain;
    height: 20px;
    width: 20px;
    background-color: white;
    border: 0.5px solid inherit;
  }

  &__global-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
  }

  &__theme {
    display: flex;
    align-items: center;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 81;
  }

  &__list {
    background: inherit;

    a {
      text-decoration: none;
      display: block;
      transition: 0.4s ease-in-out;
    }

    li>a {
      padding: 20px;
      color: #767676;
    }

    li>a:hover {
      color: #767676;
    }
  }

  &__submenu {
    li a {
      border-bottom: 1px solid #efefef;
      font-size: 12px;
      color: black;
    }
  }

  &__list>li {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      width: 1px;
      height: 12px;
      top: 24px;
      transform: rotate(30deg);
    }
  }

  &__submenu {
    position: absolute;
    left: -25px;
    top: 100%;
    width: 160px;
    border-bottom: 1px solid #020202;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-radius: 0 0 20px 20px;
    background: white;




    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transform: scale(0.8);
    transition: 0.4s ease-in-out;

  }

  &__submenu li {
    height: 35px;
    padding: 10px 0;
    text-align: center;
    text-align: center;

    font-weight: 400;
    font-size: 12px;
    color: inherit;
  }
}

ul {
  list-style: none;
}

.isShow {
  visibility: visible;
  opacity: 1;
}
.dark {
  background-color: #545454;
  color: white;

}