body {
  font-family: 'Montserrat Alternates';
}

ul {
  padding: 0;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

input {
  outline: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1090px;
  width: 100%;
  margin: 0 auto;
  background-color: $color-footer;
}

body {
  background-color: #d9d9d9;
  background-image: url(../images/img/background.png);
  background-size: cover;
  background-repeat: repeat-y;

  margin: 0 3px;
}

.page {
  width: 75.69%;
  padding: 0 91px;
  background: white;
  margin: 0 auto;
  // animation: pageAnim 1.2s 10ms ease-in-out;
  height: 100vh;
}

// @keyframes pageAnim {
//   0% {
//       transform: translateY(-300px);
//       opacity: 0;
//   }

//   100% {
//       transform: translateY(0);
//       opacity: 1;
//   }
// }