$color-footer: #fff;
$color-footerTextNav: #000;
$hover-choicesBtn: #908989;
$color-footerInput: #d7d7d7;
$color-footerInputText: #7e7e7e;
$color-footerHover: #8ACECF;
$grey: #D9D9D9;
$darkgrey: #797979;
$skyblue: #8ACECF;