<section class="canculator  number ">
    <div class="container">
        <h2 class="canculator__title">Калькулятор</h2>
        <div class="canculator__wrapper">
            <div class="canculator__firstwrapp">
                <input class="canculator__firstwrapp--input1" type="number" placeholder="Введіть число">
                <div class="canculator__firstwrapp--btns">
                    <button data-value="+" class="canculator__firstwrapp--btn">+</button>
                    <button data-value="*" class="canculator__firstwrapp--btn">*</button>
                    <button data-value="-" class="canculator__firstwrapp--btn">-</button>
                    <button data-value="/" class="canculator__firstwrapp--btn">/</button>
                </div>
            </div>
            <div class="canculator__secondwrapp">
                <input class="canculator__secondwrapp--input2" type="number" placeholder="Введіть число">
                <button class="canculator__secondwrapp--btn">=</button>
                <p class="canculator__secondwrapp--input3">Результат</p>
            </div>
        </div>
    </div>
</section>