<section class="check-year">
  <div class="container">
    <h1 class="check-year__title">Популярні інетрактивні ігри</h1>
    <hr class="check-year__hr" />
    <h3 class="check-year__subtitle">Перевір в який рік ти народився</h3>
    <div class="check-year__box">
      <div class="check-year__wrapper">
        <input
          type="number"
          id="year"
          class="check-year__input"
          placeholder="Введіть рік народження"
          required
          minlength="4"
        />
        <button class="check-year__btn">
          <img src="./icons/search.svg" alt="search" />
        </button>
      </div>
      <div class="check-year__box--result">
        <p id="resultYear" class="check-year__result"></p>
      </div>
    </div>

    <!-- <hr class="check-year__hr"> -->
  </div>
</section>
