<section class="dino">
  <h2 class="title">Google Динозаврик</h2>

  <div class="dino__stage" tabindex="0">
    <div class="dino__play dino__cover">
      <button class="dino__btn btn">Грати</button>
    </div>
    <div class="dino__end dino__cover">
      <p class="dino__text">Гру завершено</p>
      <button class="dino__btn btn">
        <span class="dino__btn-restart">⟳</span>
        Почати знову
      </button>
    </div>

    <img class="dino__dino dino__onground" src="./images/dino.png" alt="dino" />
    <div class="dino__world">
      <p class="dino__score">Рахунок: <span class="dino__score-js">0</span></p>
      <div class="dino__ground">
        <img class="dino__sprite" src="./images/ground.png" alt="ground" />
        <img class="dino__sprite" src="./images/ground.png" alt="ground" />
      </div>
      <div class="dino__cactuses"></div>
    </div>
  </div>
</section>
