<section class="game3">
  <div class="container">
    <h3 class="game3__title">Камінь - ножиці - папір</h3>
    <div class="game3__wrapper">
      <div class="game3__box">
        <button data-choice="камінь" class="game3__choice">
          <img src="./images/icon/rockk.svg" alt="rock" class="game3__img" />
        </button>
        <button data-choice="ножиці" class="game3__choice">
          <img
            src="./images/icon/scissors.svg"
            alt="scissors"
            class="game3__img"
          />
        </button>
        <button data-choice="папір" class="game3__choice">
          <img src="./images/icon/paper.svg" alt="paper" class="game3__img" />
        </button>
      </div>
      <div class="game3__box-result">
        <p class="game3__text">Рахунок:</p>
        <p class="game3__text">Комп’ютер - 0</p>
        <p class="game3__text">Ви - 0</p>
      </div>
    </div>
    <p id="result" class="game3__result"></p>
    <div class="game3__box--btn">
      <button class="game3__btn">Варіант комп’ютера</button>
    </div>
    <hr class="game3__hr" />
  </div>
</section>
