<section class="game6">
  <h2 class="title">Google Динозаврик</h2>

  <div class="game6__stage" tabindex="0">
    <div class="game6__play" style="display: none">
      <button class="game6__btn btn">Грати</button>
    </div>

    <img
      class="game6__dino game6__onground"
      src="./images/dino.png"
      alt="dino"
    />
    <div class="game6__world">
      <div class="game6__ground">
        <img class="game6__sprite" src="./images/ground.png" alt="ground" />
        <img class="game6__sprite" src="./images/ground.png" alt="ground" />
      </div>
      <div class="game6__cactuses"></div>
    </div>
  </div>
</section>
