<section class="guess-number">
  <div class="container">
    <hr class="guess-number__hr" />
    <h3 class="guess-number__title">Вгадай число, яке загадав комп’ютер</h3>
    <div class="guess-number__box">
      <div class="guess-number__wrapper">
        <input
          type="text"
          id="guess"
          class="guess-number__input"
          placeholder="Введіть число"
        />
        <button class="guess-number__btn">
          <img src="./images/icon/search.svg" alt="search" />
        </button>
      </div>
      <div class="guess-number__box--result">
        <p id="result" class="guess-number__result"></p>
      </div>
    </div>
    <hr class="guess-number__hr" />
  </div>
</section>


