<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <div>
        <img src="./images/header/header-logo.svg" alt="logo" />
      </div>
      <nav class="header__nav">
        <ul class="header__list">
          <li class="header__item">
            <button class="header__interakt">
              Інтерактив<svg
                width="11"
                height="7"
                viewBox="0 0 11 7"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M10 1L5.5 6L1 1"
                  stroke="black"
                  stroke-width="0.75"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </button>
            <ul class="header__submenu">
              <li class="header__submenu-items">Числовий</li>
              <li class="header__submenu-items">Ігровий</li>
              <li class="header__submenu-items">Ознайомчий</li>
              <li class="header__submenu-items">Всі секції</li>
            </ul>
          </li>
          <li class="header__item">Наша команда</li>
          <li class="header__item">Контакти</li>
        </ul>
      </nav>
    </div>
    <div class="header__theme">
      <label class="switch">
        <input type="checkbox" id="theme-switch">
        <span class="slider round"></span>
      </label>

      <p class="header__greeting">Вітаємо, User!</p>
    </div>
  </div>
</header>
