<section class="num">
    <div class="container">
        <h2 class="num__title">Введіть 3 числа</h2>
        <div class="num__wrapper">
            <input placeholder="Введіть число" class="num__wrapper--input">
            <input placeholder="Введіть число" class="num__wrapper--input">
            <input placeholder="Введіть число" class="num__wrapper--input">
        </div>
        <h3 class="num__subtitle">Найбільше число, яке ви ввели - (число)</h3>
        <hr class="num__hr">
    </div>
</section>