<div class="backdrop backdrop-header" data-model>
  <div class="modal-header">
    <svg
      class="modal-header__close"
      data-modal-close
      width="17"
      height="17"
      viewBox="0 0 17 17"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M1 1L8.5 8.5M16 16L8.5 8.5M8.5 8.5L16 1L1 16" stroke="black" />
    </svg>

    <p class="modal-header__intro">
      Привіт! <br />
      Ви потрапили на сайт інтерактивних ігор та завдань <br />
      Надіємось, що вам сподобається і ви отримаєте позитивні емоції! <br />
      Бажаємо Вам гарно провести час!
    </p>
    <p class="modal-header__text">Введіть своє ім’я:</p>
    <div class="modal-header__box">
      <input
        type="text"
        class="modal-header__input"
        placeholder="Ваше ім’я..."
        required
      />
      <button class="modal-header__btn">Зберегти</button>
    </div>
  </div>
</div>
