<section class="game10">
  <h2 class="title">Обери вченого/их</h2>
  <ul class="game10__cards"></ul>

  <div class="game10__sort">
    <button class="game10__btn btn">Які вчені народилися в 19 ст.</button>
    <button class="game10__btn btn">
      Знайти рік народження Albert Einshtein
    </button>
    <button class="game10__btn btn">Відсортувати вчених за алфавітом</button>
    <button class="game10__btn btn">
      Знайти вчених, прізвища яких починаються на на літеру “С”
    </button>
    <button class="game10__btn btn">
      Відсортувати вчених за кількістю прожитих років
    </button>
    <button class="game10__btn btn">
      Видалити всіх вчених, ім’я яких починається на “А”
    </button>
    <button class="game10__btn btn">
      Знайти вченого, який народився найпізніше
    </button>
    <button class="game10__btn btn">
      Знайти вченого, який прожив найдовше і вченого, <br />
      який прожив найменше
    </button>
    <button class="game10__btn btn">
      Знайти вчених, в яких співпадають перші літери імені і прізвища
    </button>
  </div>
</section>
