<section class="scientists">
  <h2 class="title">Обери вченого/их</h2>
  <ul class="scientists__cards"></ul>

  <div class="scientists__sort">
    <button class="scientists__btn btn">Які вчені народилися в 19 ст.</button>
    <button class="scientists__btn btn">
      Знайти рік народження Albert Einshtein
    </button>
    <button class="scientists__btn btn">
      Відсортувати вчених за алфавітом
    </button>
    <button class="scientists__btn btn">
      Знайти вчених, прізвища яких починаються на на літеру “С”
    </button>
    <button class="scientists__btn btn">
      Відсортувати вчених за кількістю прожитих років
    </button>
    <button class="scientists__btn btn">
      Видалити всіх вчених, ім’я яких починається на “А”
    </button>
    <button class="scientists__btn btn">
      Знайти вченого, який народився найпізніше
    </button>
    <button class="scientists__btn btn">
      Знайти вченого, який прожив найдовше і вченого, <br />
      який прожив найменше
    </button>
    <button class="scientists__btn btn">
      Знайти вчених, в яких співпадають перші літери імені і прізвища
    </button>
  </div>
</section>
