
.canculator {
  &__wrapper  {
    display: flex;
    justify-content: center;
    margin-top: 36px;
  }

  &__title {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: inherit;
    margin-bottom: 0;
    margin-top: 36px;
    margin: 0;
  }
  &__secondwrapp {
    display: flex;
    align-items: center;

    &--btn {
      font-weight: 400;
      font-size: 12px;
      color: $color-footer;
      box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
      background: $color-footerTextNav;
      border-radius: 20px;
      padding: 5px 10px;
      width: 27px;
      height: 25px;
      border: none;
      cursor: pointer;
      &:hover {
        box-shadow: 3px 3px 10px 0 $color-footerHover;
      }
    }

    &--input2 {
      margin-right: 38px;
      margin-left: 38px;
      box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
      background: $color-footerInput;
      border-radius: 20px;
      padding: 10px 20px;
      width: 135px;
      height: 35px;
      text-align: center;
      font-weight: 400;
      font-size: 12px;
      color: $color-footerInputText;
      border: none;
      padding: 10px 20px;
    }

    &--input3 {
      margin-left: 38px;
      background: $color-footerInput;
      border-radius: 20px;
      padding: 10px 20px;
      width: 118px;
      height: 35px;
      text-align: center;
      font-weight: 400;
      font-size: 12px;
      color: $color-footerInputText;
      border: none;
      padding: 10px 20px;
    }
  }

  &__firstwrapp {
    display: flex;
    align-items: center;

    &--input1 {
      margin-right: 38px;
      box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
      background: $color-footerInput;
      border-radius: 20px;
      padding: 10px 20px;
      width: 135px;
      height: 35px;
      font-weight: 400;
      font-size: 12px;
      color: $color-footerInputText;
      border: none;
      text-align: center;
    }

    &--btns {
      width: 62px;
      height: 60px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: space-between;
    }

    &--btn {
      box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
      background: $color-footerTextNav;
      border-radius: 20px;
      padding: 5px 10px;
      width: 27px;
      height: 25px;
      font-weight: 400;
      font-size: 12px;
      color: $color-footer;
      border: none;
      cursor: pointer;
    }
  }
}

.isActive {
  box-shadow: 3px 3px 10px 0 $color-footerHover;
}
