.game7__stage {
    position: relative;
    overflow: hidden;
    background: #5ABB58;
    border: 2px solid black;
    border-radius: 37px;
    width: 90%;
    margin: 0 auto;
    height: 220px;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: url('../images/cursor.svg'), pointer
}

.game7__ball {
    transition: all 1s ease-in-out 0s;
    position: absolute;
    top: calc(50% - 25px);
    left: 10%;

    &-move {
        animation: ballRotate 1.5s linear infinite 0s;
    }
}

@keyframes ballRotate {
    0% {
        rotate: 0deg;
    }

    100% {
        rotate: 360deg;
    }
}