.scientists__cards {
    height: 508px;
    width: 65%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 36px 59px;
    margin-bottom: 36px;
}

.scientists {

    border-top: 1px solid black !important;
    padding: 42px 0;
    text-align: center;

    .container {
        padding: 0 91px;
    }

    h3,
    p {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-family: "Montserrat Alternates", sans-serif;
        font-weight: 400;
        font-size: 12px;
    }

    .btn {
        transition: 0.5s;
        cursor: pointer;
        border-radius: 20px;
        padding: 10px 20px;
        min-height: 35px;
        box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
        background: #000;
        color: white;

        &:hover {
            transition: 0.5s;
            background: $skyblue;
            color: black;
        }

        &:active {
            transition: 0.1s;
            box-shadow: none;
            border: 2px solid #000;
        }
    }

}

.scientists__item {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    background: #D9D9D9;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;

    &-name,
    &-year {
        font-family: "Montserrat Alternates", sans-serif;
        line-height: 170%;
    }
}

.scientists__sort {
    display: flex;
    width: 82%;
    margin: 0 auto;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    gap: 17px 30px;
}