.modal-header {
  padding: 22px 91px 47px 92px;
  width: 576px;
  height: 316px;
  background-color: inherit;
  font-family: Inter;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(../images/icon/icons.svg);
  background-repeat: no-repeat;
  background-position: center top 50px;

  &__intro {
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: inherit;
    font-family: Inter;
    margin: 0;
  }
  &__text {
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: inherit;
    padding-top: 42px;
    padding-bottom: 18px;
    margin: 0;
  }
  &__input {
    border-radius: 20px;
    padding: 10px 90px 10px 10px;
    width: 169px;
    height: 35px;
    border: none;
    background: $color-footerInput;
    font-weight: 400;
    font-size: 12px;
    color: #7e7e7e;
  }
  &__btn {
    border-radius: 20px;
    padding: 10px 20px;
    width: 105px;
    height: 35px;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
    background: $color-footerTextNav;
    font-weight: 400;
    font-size: 12px;
    color: $color-footer;
    font-family: "Montserrat Alternates";
  }
  &__close{
    stroke-width: 1px;
    stroke: $color-footerTextNav;
    position: relative;
    bottom: 6px;
    left: 446px;

    &:hover {
      background: $color-footerHover;
      transition: 0.5s;
      border-radius: 100%;
      scale: 1.2;

    }
  }
  &__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
  }
}
